/* 0-1 styling */
#about{
    background-color: black;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    word-wrap:inherit;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#next{
    margin-top: 20px;
    margin-left: 900px;
}
/* 0-2 styling */