/*     

Standard styling for all pages
contains styling for
- header div
- footer div
- <a> <p> <h1> tags


google api font:
font-family: 'Source Code Pro', monospace; 
*/


/* page specific styling */
#welcome{ /* home page welcome section */
    background-color: black;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    
}