/*     

Standard styling for all pages
contains styling for
- header div
- footer div
- <a> <p> <h1> tags


google api font:
font-family: 'Source Code Pro', monospace; 
*/


/* page specific styling */
#welcome{ /* home page welcome section */
    background-color: black;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
#header,#welcome,#footer{
    margin-left: 400px;
    margin-right: 400px;
    margin-top:50px;
    margin-bottom:50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    text-align: center;
}
