/*     

Standard styling for all pages
contains styling for
- header div
- footer div
- <a> <p> <h1> tags



google api font: https://fonts.google.com/specimen/Source+Code+Pro?query=code
 css:
font-family: 'Source Code Pro', monospace; 
*/

body {
    /*general page styles */
    font-family: 'Source Code Pro', monospace;
    color: white;
    background-color: rgb(92, 78, 78);
    /*67, 54, 54*/
}

#header {
    /* header for each page */
    background-color: grey;
    color: white;
    font-weight: bolder;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 50px;
}

#subtitle {
    /* header subtitle */
    text-align: center;
}

h1 {
    /* for all h1 on the page */
    font-size: xx-large;
    text-align: center;
}

#footer {
    /* page footer */
    font-family: 'Source Code Pro', monospace;
    background-color: #877070;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

a {
    /* all anchor tags */
    color: rgb(52, 179, 221);
}

a:hover {
    /*anchor hover*/
    color: yellow;
}

p {
    /*standardize font for p and anchor tags*/
    font-size: 15pt;
}

small {
    /* for copyright tag at the bottom of footer */
    font-family: 'Source Code Pro', monospace;
    color: white;

}

button {
    /* style all buttons */
    background-color: black;
    border: 1pt solid yellow;
    color: white;
    font-size: 12pt;
    font-family: 'Source Code Pro', monospace;
}

#quizSubmit{
    text-align: center;
}
#navbuttons{
    text-align: center;
    margin-top: 20px;
}

button:hover {
    background-color: white;
    color: black;
    border: 2pt solid lightblue;
}

.main {
    background-color: black;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    word-wrap: inherit;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

h2 {
    font-size: 30pt;
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#toc{
    text-align: center;
}

#submit{ /*for quiz submit*/
    /* display: block; */
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20pt;
    background-color: rgb(244, 244, 244);
    color: black;
    font-weight: bolder;
}
#submit:hover{
    background-color: yellow;
    color: black;
}
li{
    font-size: 20pt;
}
input[type=radio] { /* for radio buttons on quizzes */
    border: 0px;
    width: 5%;
    height: 1.75em;
}
.quizH2{ /* questions from quizzes */
    font-size: 20pt;
    margin-top: 50px;
}
.score{ /* score p tag on quizzes */
    font-size: 25pt;
    text-align: center;
}
.quizReset{
    /*quiz reset button*/
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20pt;
}
.qrb{
    /*quiz reset button div*/
    text-align: center;

}
ol{
    margin-top: 50px;

    text-align: center;
}
li{
    line-height: 40px;
}
ul{
    font-size: 10pt;
    text-align: center;
}