/*     

Standard styling for all pages
contains styling for
- header div
- footer div
- <a> <p> <h1> tags


google api font:
font-family: 'Source Code Pro', monospace; 
*/

body{ /*general page styles */
    font-family: 'Source Code Pro', monospace;
    color:white;
    background-color: rgb(92, 78, 78); /*67, 54, 54*/
}
#header{ /* header for each page */
    background-color: grey;
    color: white;
    font-weight: bolder;
}
#subtitle{ /* header subtitle */
    text-align: center;
}

h1{ /* for all h1 on the page */
    font-size: xx-large;
    text-align: center;
}
#footer{ /* page footer */
    font-family: 'Source Code Pro', monospace;
    background-color: #877070;
    color:white;
    margin-top: 20px;
    text-align: center;

}
div{ /* all divs */
    margin-left: 400px;
    margin-right: 400px;
}
a{ /* all anchor tags */
    color: lightblue;
    text-align: center;
}
a:hover{ /*anchor hover*/
    color:yellow;
}
p,a{/*standardize font for p and anchor tags*/
    font-size: 13pt;
}
