<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitting Good 1-R: Chapter 1 Review</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
    <!-- general styling -->
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <div id="header">
        <a href="../../index.html">
            <h1> Gitting Good
        </a></h1>
        <p id="subtitle"> A more simplified way to understand GitHub.</p>
        <p id="toc"> <a href="../../tableOfContents.html"> Table of Contents </a> </p>
    </div>
    <!-- page content goes here -->
    <div class="main">
        <h2> Chapter 1 Review </h2>
        <h3> Vocabulary </h3>
        <ol type="1">
            <li> Version Control - a way of tracking how code evolves during the development cycle</li>
            <li> Git - language used by local machine to detect changes to fines
            </li>
            <li> GitHub - website on which code is stored; considered to be version control software
            </li>
            <li> GitHub Desktop - Client for local machine that allows you to do basic git commands
            </li>
            <li> Terminal/puTTY - Programs that emulate UNIX and are used to connect to servers and speak Git.
            </li>
            <li> CyberDuck/WinSCP - Programs used to view files on a remote server.
            </li>
        </ol>
        <p style="text-align: center;"> These are the terms we used in this chapter. For quizzes/exams, I will pull directly from the text 
            to create questions that test whether you read the text or not!
        </p>
    </div>
    <div id="navbuttons">
        <a href="1-4.html"><button id="previous">Previous Page</button></a>
        <a href="1-Q.html"><button id="next">Next Page</button></a>
    </div>
    <div id="footer">
        <a href="https://docs.google.com/document/d/11JvraVtRNpFEnLHPJOL6NX4Ilss-Lloz9R_Cd6X8nm0/edit?usp=sharing">See
            the google doc I made already here.</a>
        <p> Faiq Ashraf made this website as a way to teach GitHub in an easy to digest way.</p>
        <p><a href="mailto:gittinggood0@gmail.com"> If you found an error in this website, or just have topic
                suggestions, email Faiq here.</a></p>
        <small>All mentions to GitHub and its products are copyrights of GitHub Inc.</small>
    </div>
</body>

</html>